<section class="h-[850px] w-full flex flex-row bg-secondary-200 container mx-auto">
  <article class="text-white flex-1">
    <h1 class="font-title text-6xl">
      <span>Carla</span>
      <span>y</span>
      <span>Tenoch</span>
    </h1>
    <div></div>
    <p>
      <span>19 de diciembre del 2026</span>
      <span>Colima, Colima</span>
    </p>
  </article>
  <picture>
    <img src="/images/01-HOME.png" alt="Carla y Tenoch" class="h-full object-cover object-bottom mask-l-from-70%" />
  </picture>
</section>
