---
import Divider from "@/components/common/Divider.astro";
import { Heart } from "@lucide/astro";
---

<section class="h-dvh bg-[url('/images/01-HOME.webp')] bg-cover bg-bottom">
  <div class="container mx-auto pl-10 h-full flex items-center">
    <article class="text-white w-min">
      <h1 class="font-title text-9xl flex flex-col text-center leading-0">
        <span>Carla</span>
        <span class="text-6xl mt-14 mb-22">y</span>
        <span>Tenoch</span>
      </h1>
      <Divider className="mt-14 mb-4" />
      <p class="text-xl text-center uppercase">
        <span>19 de diciembre del 2026</span>
        <br />
        <span>Colima, MX</span>
      </p>
    </article>
  </div>
</section>
