---
import Counter from "@/components/counter/Counter.astro";
---

<section class="bg-main-600 px-10 py-6">
  <div class="container mx-auto">
    <h1 class="text-white text-lg text-center uppercase">Cuenta Regresiva</h1>
    <Counter />
    <p class="text-center text-white ">19 de Diciembre del 2026 | 04:00 pm</p>
  </div>
</section>
