---
import NavLink from "@/components/navbar/NavLink.astro";
---

<header class="bg-main-500 py-6">
  <div class="container mx-auto flex flex-row items-center justify-between">
    <h1 class="text-white font-title text-5xl">Carla y Tenoch</h1>
    <nav class="flex flex-row gap-8">
      <NavLink href="#" label="INICIO" />
      <NavLink href="#" label="DETALLES" />
      <NavLink href="#" label="RSVP" />
      <NavLink href="#menu" label="M" />
    </nav>
  </div>
</header>
